@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;1,400&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap');

*{
    margin:0;
    outline:0;
    padding:0;
    box-sizing: border-box;
}

#senacCora{
    color:darkred;
}

#campo_texto{
    background-color:cornflowerblue;
}

.textosPequenos{
    color: #32cd32;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

h1{
    color:blue;
    font-weight:900;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
}

h2{
    color:yellow;
    font-size: 40px;
    text-align: center;
}